doctype html
html
  head
    title= 'The Urban Dictionary Guessing Game'
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  
