body {
  padding: 50px;
  font: 14px "Futura", Helvetica, Arial, sans-serif;
  background-color: #e8dfe0;

}

a {
  color: #00B7FF;
}

.row{
  margin:20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.word {
  width: 10rem;
}

.definition {
  width: 20rem;
}

.card:hover {
  cursor: pointer;
  background-color: #DAB692;
  outline-color: #DAB692;
  /* transition: all .2s ease;
  height: 80px; */
}

.card:default{
  background-color:#FFFFFF;
  outline-color: #FFFFFF;
}

.card-text{
  overflow: hidden;
  display: block;
  height: 40px;
  position: relative;
  transition: .2s;
}

.card-text:hover {
  transition: all .2s ease;
  height: auto;
}




.selected {
  background-color: #BA9B7C !important;
  border: #BA9B7C !important;
}

.matched {
  background-color: #8d9b6a !important;
  border: #8d9b6a !important;
  cursor: default !important;
}

.unmatched {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  background-color: #F27171 !important;
  border:  #F27171 !important;
}

:disabled{
  background-color: #96BE8C !important;
  border: #96BE8C !important;
}

.btn-primary{
  display: block;
  background-color: #8A9EA7;
  border-color: #8A9EA7;
  border-radius: 0;
  outline-style: solid;
  outline-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-primary:hover{
  display: block;
  background-color: #7797A5;
  border-color: #7797A5;
  border-radius: 0;
  outline-style: solid;
  outline-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 30px;
}


.label {
  margin: 30px;
  display: block;
  text-align: center;
}

/*
 * Title
 */

 .title {
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 5px 10px #e0e0e4;
  margin-bottom: 30px;
  color: #FFFFFF;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}

