body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.column {
  float: left;
  width: 50%;
  padding: 25px 50px 75px 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.word {
  width: 10rem;
}

.definition {
  width: 20rem;
}

.card:hover {
  cursor: pointer;
  background-color: #9CC4B2;
}

.card:disabled{
  background-color: #96BE8C;
}

.card:default{
  background-color:"#FFFFFF";
}

/* .card:active::after{
  background-color: #86A899;
} */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  background-color: #D5BBB1;
}

/* .unmatch {
  background-color: #FFFFFF !important;
} */